{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    {% for message in messages %}
    <p class="alert alert-success mt-3">{{message}}</p>
    {% endfor %}
    <div class="row">
        <div class="col-sm-4">
            <h3 class="alert alert-info text-center">Patient Appointment </h3>
                <form action="{% url 'patientapp:add_appointment' %}" method="post">
                    {% csrf_token %}
                            <div>
                                <label for="patientname">Patient Name</label>
                                <input name="patientname" id="patientname" class="form-control" placeholder="Name of the Patient" type="text" oninput="updatePatientId()">
                                <datalist id = "patient">
                                    {% for p in patient %}
                                    <option value="{{ p.patientname }}" data-patientid="{{ p.patientid }}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                     <div>
                                <label for="mobileno">Patient Id/Mobile No</label>
                                <input name="mobile1" id="mobile1" class="form-control" placeholder="Mobile No" type="text">
                            </div>
                            <div>
                                <label for="consult"> Doctor You want to Consult</label>
                               <input name="doctorname" type="text" class="form-control" placeholder="Name of the Doctor" type="text">
                            </div>
                    <div>
                                <label for="day"> Day You want to Consult</label>
                               <input name="day" class="form-control" placeholder="Consultation Date" type="date">
                            </div>
                     <div>
      <label for="Time Slot">Time</label>
      <select name="time" id="time" class="form-control">
        <option value="9:00-9:30">9:00-9:30</option>
        <option value="9:30-10:00">9:30-10:00</option>
          <option value="10:00-10:30">10:00-10:30</option>
        <option value="10:30-11:00">10:30-11:00</option>
          <option value="11:00-11:30">11:00-11:30</option>
        <option value="11:30-12.00">11:30-12.00</option>
        <option value="12:00-12:30">12:00-12:30</option>
        <option value="12:30-1:00">12:30-1:00</option>
          <option value="2:00-2:30">2:00-2:30</option>
          <option value="2:30-3:00">2:30-3:00</option>
        <option value="3:00-3:30">3:00-3:30</option>
        <option value="3:30-4:00">3:30-4:00</option>
          <option value="4:00-4:30">4:00-4:30</option>
          <option value="4:30-:5:00">4:30-:5:00</option>
        <option value="5:00-5:30">5:00-5:30</option>
        <option value="5:30-6:00">5:30-6:00</option>
      </select>
    </div><br>
                            <div>
                                <button type="submit" class="btn btn-success">Approve</button>
                            </div>
                </form>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center alert alert-info">Show Appointment Information</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Id/Mobile No:</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Consult To</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in appointments %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ a.patientname }}</td>
                            <td>{{ a.mobile1 }}</td>
                            <td>{{ a.date }}</td>
                            <td>{{ a.time }}</td>
                             <td>{{ a.doctorname }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    </div>
</div>
<script>
function updatePatientId() {
    var patientInput = document.getElementById("patientname");
    var mobileInput = document.getElementById("mobile1");
    var selectedPatient = patientInput.value;
    var datalistOptions = document.getElementById("patient").getElementsByTagName('option');
    for (var i = 0; i < datalistOptions.length; i++) {
        if (datalistOptions[i].value === selectedPatient) {
            var patientId = datalistOptions[i].getAttribute("data-patientid");
            mobileInput.value = patientId;
            break;
        }
    }
}
</script>
<script>
$(function() {
    // Fetch a list of doctor names from your DoctorMaster model
    var availableDoctors = [
        {% for doctor in doctor %}
            "{{ doctor.name }}",
        {% endfor %}
    ];
    $("#doctorname").autocomplete({
        source: availableDoctors
    });
});
</script>
{% endblock %}