{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    {% for message in messages %}
        <p class="alert alert-success mt-3">{{ message }}</p>
    {% endfor %}
    <div class="row">
        <div class="col-sm-4">
            <h3 class="alert alert-info text-center">Doctor Master</h3>
            {% if sel_doctors %}
                <form action="{% url 'patientapp:update_doctor' sel_doctors.id %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="doctorname">Doctor Name</label>
                        <input name="doctorname" class="form-control" placeholder="Name of the Doctor" value="{{ sel_doctors.doctorname }}" type="text">
                    </div>
                    <div>
                        <label for="department">Department</label>
                        <textarea name="department" class="form-control" placeholder="Department Name" type="text"> {{ sel_doctors.department }} </textarea>
                    </div><br>
                    <div>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            {% else %}
                <form action="{% url 'patientapp:add_doctor' %}" method="post">
                    {% csrf_token %}
                            <div>
                                <label for="doctorname">Doctor Name</label>
                                <input name="doctorname" class="form-control" placeholder="Name of the Doctor" type="text">
                            </div>
                            <div>
                                <label for="department">Department</label>
                                <textarea name="department" class="form-control" placeholder="Department Name" type="text"></textarea>
                            </div><br>
                            <div>
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                </form>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h3 class="text-center alert alert-info">Show Doctor Information</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Department</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in doctors %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ d.doctorname }}</td>
                            <td>{{ d.department }}</td>
                            <td><a href="{% url 'patientapp:edit_doctor' d.id %}" class="btn btn-warning btn-sm">Edit</a></td>
                            <td><a href="{% url 'patientapp:delete_doctor' d.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    </div>
{% endblock %}
